//WTAC Logo Colors
$light_yellow: #ddcf72;
$yellow: #cfae18;
$black: #0b0904;
$brown: #564309;
$light_brown: #966a06;
$brown_green: #756614;
$tan: #b6af76;
$sand: #bcaa5a;
$olive: #42402c;


//NC Colors
$navy: #051e61;
$orange: #f9a604;


//Styles
$text: #FAF9F6;