@import '../../shared/global.scss';

.navbar{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $black;
    padding: 0 40px;
    .navbar__logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        img{
            width: 50px;
            height: 50px;    
        }
        div{
            color: $text;
            font-size: 18px;
            letter-spacing: 0.2px;
            font-weight: 400;
            margin-left: 20px;
            text-shadow: 2px 2px 2px $navy;
        }
    }
    .navbar__route{
        span{
            color: $text;
            font-size: 18px;
            letter-spacing: 0.2px;
            font-weight: 400;
            margin: 0 20px;
            cursor: pointer;
        }
    }
}